/*** PC用 ***/
#main {
  background: #eff4f7;
  margin-left: 6.5%;
  width: 60%;
}

/* セレクトボックス */
.main_div select {
  background-color: #eff4f7;
  color: #777;
}

/*** モバイル用 ***/
@media screen and (max-width: 768px) {
  /* セレクトボックス */
  .main_div select {
    background-color: #eff4f7;
    color: #777;
  }
}